.nav-list {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--second-text-color);

  transition: color var(--transition-function);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.active {
  color: var(--accent-color);
}

.nav-link.active::after {
  position: absolute;
  bottom: 0;

  content: "";
  display: flex;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}
